/*#FEE250 AMARELO*/

@font-face {
    font-family: 'Gilroy';
    src: url('../fonts/Gilroy-ExtraBold.otf') format('OpenType');
}

.Sidebar {
    font-family: "Open Sans", Sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100%;
    background-color: #575759;
}

.Sidebar-box {
    width: 220px;
    position: absolute;
}

.div-logo {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 220px;
    height: 100px;
    background-color: #434345;
}

.logo {
    position: absolute;
    top: 20px;
    left: 30px;
}

a {
    font-weight: 100;
    font-family: "Gilroy";
    margin-left: 25%;
    color: white;
    display: block;
    margin-top: 30px;
}

a:hover {
    cursor: pointer;
    color: #FEE250;
}

.button-sair {
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    background-color: #575759;
    color: black;
    border: 2px solid #FEE250;
    color: #FEE250;
    margin-top: 20%;
    margin-left: 20%;
}